<%- include('../partials/head',{title:'BCU Tipos de Conta'})%>
  <%- include('../partials/dashboardHeader')%>
    <section class="dashboardDadosFormContainer">
      <form class="contaFormContainer borderCurveElements" id="contaFormDados">
          <label for="contaTipo">Tipo de Conta</label>
          <input type="text"  id="contaTipo" placeholder="novo">
      <button class="btnSalvarDados" type="submit">Salvar</button>  
    </form>
    <%if(contas.data.length!==0){%>
      <h1>Tipos de Contas</h1>
        <section class="contasItemContainer">
          <%contas.data.forEach((conta)=>{%>
        <%- include('partials/contaItem',{conta:{nome:conta.nome,id:conta.id}})%>
        <% })%>
      </section>
        <%} else{%>
          <div class="contaInfo">
            <h1>Sem nenhuma tipo de Conta</h1>
          </div>
        <%}%>
      <div class="infoContainer">
        <p class="info"></p>
    </div>
      <%- include('../partials/sideBar')%>
    </section>
    <script src="/assets/js/contaForm.js"></script>
    <%- include('../partials/footer')%>
      <%- include('../partials/pageEnd')%>