<%- include('../partials/head',{title:'BCU DashBoard-Contactos'})%>
<%- include('../partials/dashboardHeader')%>
<section class="dashboardContainer">
        <div class="mainArea">
            <h1>Nossos Contactos - 24h/24h</h1>
            <div class="contactContainer">
                <ul>
                    <h4><img src="/assets/img/phone.svg"/>Telefone</h4>
                    <li><a href="tel:+244935636086">935636086</a></li>
                    <li><a href="tel:+244935636086">935636086</a></li>
                    <li><a href="tel:+244935636086">935636086</a></li>
                </ul>
                <ul>
                    <h4><img src="/assets/img/email.svg"/>Email</h4>
                    <li><a href="mailto:apoio.cliente@bancobcu.ao">apoio.cliente@bancobcu.ao</a></li>
                </ul>
            </div>
        </div>
            <%- include('../partials/sideBar')%>
    </section>
    <%- include('../partials/footer')%>
    <%- include('../partials/pageEnd')%>