<%- include('../partials/head',{title:'BCU DashBoard-Empresas'})%>
<%- include('../partials/dashboardHeader')%>
<section class="dashboardContainer">
        <div class="mainArea">
            <h1>Empresas</h1>
        </div>
            <%- include('../partials/sideBar')%>
    </section>
    <%- include('../partials/footer')%>
    <%- include('../partials/pageEnd')%>