<%- include('../../partials/head',{title:'BCU DashBoard-Créditos'})%>
<%- include('../../partials/funcionariodashboardHeader')%>
<section class="dashboardContainer">
        <div class="mainAreaDefinicoes">
            <%- include('partials/definicoesHeader')%>
        </div>
        <%- include('../../partials/sideBarFuncionario')%>
    </section>
    <%- include('../../partials/footer')%>
    <%- include('../../partials/pageEnd')%>