<%- include('../partials/head',{title:'BCU DashBoard-Transferencias'})%>
<%- include('../partials/dashboardHeader')%>
<section class="dashboardContainer">
        <div class="mainArea">
            <div class="transferenciaContainer">
                <form class="borderCurveElements" id="transferenciaForm">
                    <input type="text" name="iban" placeholder="AO06 XXXX XXXX XXXX XXXX XXXX X" id="ibanField"/>
                    <!-- <input type="text" name="morada" placeholder="Nome do Destinatário" id="moradaField"/> -->
                    <input type="number" name="valor" placeholder="Valor" id="valorField" min="10"/>
                    <button>Transferir</button>
                </form>
                <div class="infoContainer">
                    <p class="info"></p>
                </div>    
            </div>
            <div class="levantamentos">
                <h1>TRANSFERÊNCIAS</h1>
                <%transferencias.forEach((transferencia)=>{%>
                    <%- include('transferenciaItem',{valor:transferencia.valor,data:transferencia.createdAt})%>
                    <% })%>
            </div>
        </div>
            <%- include('../partials/sideBar')%>
    </section>
    <script src="/assets/js/transferenciaForm.js"></script>
    <%- include('../partials/footer')%>
    <%- include('../partials/pageEnd')%>