<%- include('partials/head',{title:'BCU Empresas'})%>
  <%- include('partials/header')%>
  <%- include('partials/carrocel')%>
  <section class="empresasContainer">
        <h1>Empresas</h1>
          <p>Soluções eficazes e rentáveis para sua empresa encontra no BCU Estabelece-se aqui a Relação de Investidor. </p>
    </section>

    <%- include('partials/footerlandpage')%>
      <%- include('partials/pageEnd')%>