<%- include('partials/head',{title:'BCU Home'})%>
  <%- include('partials/header')%>
  <%- include('partials/carrocel')%>
    <%- include('slide')%>
    <h1 class="parceirosContainerHeader">Nossos Parceiros</h1>
    <section class="parceirosContainer">
      <div>
        <h1>Eugenio Corporation</h1>
        <h1 id="hosanna">Hosanna Tech</h1>
        <h1>G5 Seguros</h1>
      </div>
    </section>
  
    <%- include('partials/footerlandpage')%>
      <%- include('partials/pageEnd')%>