<%- include('partials/head',{title:'BCU Instituicional'})%>
  <%- include('partials/header')%>
    <%- include('partials/carrocel')%>
      <section class="instituicaoContainer">
        <h1>Nossa Instituição</h1>
        <h2>Quem Somos</h2>
        <p>O BCU - Banco Comercial Ujamaa, S.A | Sociedade aberta, com sede em Luanda - Angola, matriculado na
          Conservatória do Registro Comercial de Luanda sob o nº 200/23, datado de 25 de Agosto de 2023, contribuinte
          fiscal nº 53200008750, com o capital social de 15 580 000 000 Kwanzas, criado a 1 de Novembro de 2023, hoje é
          uma instituição financeira nacional que atua, distribuindo os recursos de quem aplica capital, na forma de
          crédito. Além de possuir o estatuto de provedor de empréstimos para cidadãos angolanos e em outras formas
          nacionais.</p>
        <h2>Missão</h2>
        <p>Melhorar a vida das pessoas, especialmente aquelas que interagem com o BCU, como os nossos clientes,
          disponibilizando produtos e serviços bancários, idealizados para a realidade do país</p>
        <h2>Visão</h2>
        <p>Ser o melhor banco comercial de Angola no âmbito digital, ancorado numa gestão sólida e sustentável, na
          inovação tecnológica e na transformação digital. Criar oportunidades de crescimento para os
          colaboradores, gerar retornos concistentes para os acionistas, observando, em toda a linha de atuação,
          elevados padrões de conduta e responsabilidade cooperativa, contribuindo, assim para o desenvolvimento
          económico e social de Angola</p>
        </section>
        <%- include('partials/footerlandpage')%>
        <%- include('partials/pageEnd')%>