<%- include('../partials/head',{title:'BCU Abertura de Contas'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Abertura de Contas</h1>
        <button>Abre já</button>
        <p>Simples a abrir. Concisa a usar. Isso é o BCU Direito</p>
    </section>
  
    <%- include('../partials/footerlandpage')%>
      <%- include('../partials/pageEnd')%>