<%- include('../partials/head',{title:'BCU Faturas'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Faturas Genericas</h1>
           <p>Para mais informações;:</p>
           <p>Baixe já as diretrizes aqui</p>
    </section>
  
    <%- include('../partials/footerlandpage')%>
      <%- include('../partials/pageEnd')%>