<%- include('../partials/head',{title:'BCU Internet Banking'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="mainHomeContainer">
        <h1>Internet Banking</h1>
          <h1>Termos e Condições</h1>
            <h2>Privacidade e Tratamento de Dados</h2>
              <p>Declaro que autorizo o acesso a minha lista de  contactos, <br> pa os mais ra a funcionalidade no "Instante" através do email <br> e o nome do beneficiário, referente aos serviços BCU Directo</p>
              <p>O Internet Banking BCU utiliza os mais modernos recursos existentes <br>na área de segurança para o ambiente da Internet, garantindo assim seu ao IB de forma segura</p>
      </section>
  
      <%- include('../partials/footerlandpage')%>
      <%- include('../partials/pageEnd')%>