<%- include('../partials/head',{title:'BCU Perguntas Frequentes'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="perguntasFrequentesContainer">
        <h1>Perguntas Frequentes</h1>
      <p>Como abrir uma conta no BCU?</p>
    <p>Quais as condições e termos BCU?</p>
    <p>Quantos produtos o BCU oferece? </p>
    <p>Quantos Serviços o BCU oferece?</p>
    <p>Como funciona o Internet Banking do BCU?</p>
    <p>Como encontrar as definições de segurança do Internet Banking?</p>
    <p>Como consultar o meu saldo?</p>
    <p>Como efetuar as operações básicas do BCU?</p>
    <p></p>
  </section>
  
    <%- include('../partials/footerlandpage')%>
    <%- include('../partials/pageEnd')%>