<%- include('../partials/head',{title:'BCU Contas'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="contasContainer">
        <h1>Contas Disponiveis</h1>
        <h2>
          Conta à Ordem
        </h2>
           <p>
             Uma conta de depósito mobilizável por ordem do cliente a qualquer instante.
           </p>
          <h2>Conta Salário</h2>
          <p>
            Uma conta para recebimento de Salários, porém, sem quaisquer restrições de movimentos para outras operações de crédito ou débito
          </p>
    </section>
  
    <%- include('../partials/footerlandpage')%>
      <%- include('../partials/pageEnd')%>