<%- include('../partials/head',{title:'BCU Seguros'})%>
  <%- include('../partials/header')%>
  <%- include('../partials/carrocel')%>
  <section class="segurosContainer">
        <h1>Nossos Seguros</h1>
        <h2>Seguro de Vida</h2>
        <p>
          Garante o pagamento de um capital previamente, em caso de morte ou invalidez absoluta e definitiva, por doença ou acidente, da pessoa garantida pela apólice
        </p>
        <h2>Seguro de Saúde</h2>
        <p>
          As soluções de seguro Saúde compõem um leque de coberturas para assegurar a sua saúde e de sua família
        </p>
        <h2>Seguro Automóvel</h2>
        <p>
          Há aqui, planos de cobertura para si,onde quer que a estrada o leve
        </p>
        <h2>
        Seguro de Viagem
        </h2>
        <p>
          As soluções de seguro Viagem compõem um leque à disposição para que desfrutes de viagens maravilhosas
        </p>
    </section>
  
    <%- include('../partials/footerlandpage')%>
      <%- include('../partials/pageEnd')%>